<header>
    <nav>
        <a href="/"><img src="/img/logo2.svg" alt="logo" class="logo"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="/agendar">Agendar</a></li>
        </ul>
        <div class="header-redes">
            <a href="https://www.instagram.com/salao_roots/" class="redes-sociais" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@guilaobarber?_r=1&_t=ZS-93yKhMxDuK8" class="redes-sociais" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </nav>

    <div class="header-conteudo">
        <h1 class="header-titulo"><span>Transformando</span> seu <span>visual</span> com <span>estilo</span> e
            <span>precisão</span>
        </h1>
        <p class="subtitulo">Horário de funcionamento: 09:00 às 19:00</p>

        <a href="/loginUsuario"><button class="btn-agendar">Agendar um horário</button></a>
    </div>
</header>


<main>

    <section class="sobre" id="sobre">
        <h1 class="titulo">Sobre Nós</h1>
        <div class="container-sobre">
            {{!
            <div class="sobre-left">
                <iframe width="90%" height="400" src="https://www.youtube.com/embed/W18jsNa8KmA?si=tAQ5mRKt0Ol_V10_"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            }}
            <div class="sobre-right">
                <h3>Bem-vindo à Roots </h3>
                <p>Uma barbearia moderna para caras reais como você. Aqui misturamos estilo urbano com cortes precisos e
                    barbas impecáveis, usando produtos premium que realmente funcionam. Nossa vibe é descontraída, mas o
                    resultado é sempre profissional.</p>

                <h3>O que rolamos de bom</h3>
                <p>Cortes que acompanham seu estilo - do fade perfeito ao messy moderno, barba desenhada na régua e
                    skincare facial que deixa a pele tinindo. Tudo feito por barbeiros que entendem de tendência e sabem
                    personalizar pro seu rosto e lifestyle.</p>

                <h3>Vem pra cá</h3>
                <p>Agenda pelo app do whatsapp em 2 cliques. Te esperamos pra transformar seu visual e sua
                    confiança. É barbearia de boa, mas resultado top!</p>

            </div>

    </section>

    </div>
    <section class="servicos" id="servicos">
        <h1 class="titulo">Serviços</h1>
        <div class="container">

            <div class="card">
                <img src="/img/serviço1.jpg" alt="Serviço corte de cabelo" class="img" />
                <div class="card-info">
                    <p>Corte de cabelo R$ 45,00</p>
                </div>
            </div>

            <div class="card">
                <img src="/img/serviço2.jpg" alt="Serviço barba" class="img" />
                <div class="card-info">
                    <p>Barba R$ 35,00</p>
                </div>
            </div>

            <div class="card">
                <img src="/img/serviço4.jpg" alt="Sombrancelha" class="img" />
                <div class="card-info">
                    <p>Sombrancelha R$ 10,00</p>
                </div>
            </div>

            <div class="card">
                <img src="/img/serviço3.jpg" alt="Serviço de combo" class="img" />
                <div class="card-info">
                    <p>Combo R$ 70,00</p>
                </div>
            </div>            

        </div>
    </section>


    <section class="profissionais" id="profissionais">
        <h2 class="titulo">profissionais</h2>
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
            slides-per-view="2">
            <swiper-slide><img src="/img/barbeiro4.jpg" alt="barbeiro">
                <p class="nome-profissional">Rever</p>
            </swiper-slide>
            <swiper-slide><img src="/img/barbeiro3.jpg" alt="barbeiro">
                <p class="nome-profissional">Guilherme</p>
            </swiper-slide>
        </swiper-container>

    </section>

    <section id="unidade">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.3926178009783!2d-49.509717123937385!3d-20.815846366505674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdaf7106e077c9%3A0xe4d41a47f7d85682!2sSalao%20Roots%20Barbearia!5e0!3m2!1spt-BR!2sbr!4v1771249362680!5m2!1spt-BR!2sbr"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <a href="https://wa.me/qr/ZPWOWMCIFZKHL1" class="whatsapp-fixed" target="_blank" style="text-decoration: none;"><i
            class="fa-brands fa-whatsapp" title="Fale conosco"></i></a>

</main>