header {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
